@import "../../../theme/selectedTheme.scss";

#bootstrap-overrides {
  .modal-content {
    @include themed() {
      color: t("text");
    }
    border-radius: 20px;
  }
  .modal-header {
    @include themed() {
      color: t("title");
      border-bottom: 1px solid t("darkline");
    }
  }
  .btn-close {
    @include themed() {
      color: t("primary");
    }
  }
  .modal-footer {
    @include themed() {
      border-top: 1px solid t("darkLine");
    }
  }
}

.modal {
  @include themed() {
    backdrop-filter: blur(16px);
  }
}
