@import "~theme/default";
@import "~theme/selectedTheme.scss";

.Card {
  width: 350px;
  height: 350px;
  margin-top: 40px;
  border-radius: 25px;

  &-Overlay {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 25px;
    @include themed() {
      background-color: t("cardBackground");
    }
  }

  &:hover {
    color: $white;
    .Card-Overlay {
      @include themed() {
        background-color: t("cardHover");
      }
    }
  }

  &-Header {
    @include themed() {
      color: t("title");
    }
    font-weight: bold;
  }
  &-Body {
    color: $white;
  }
}
