@import "../../theme/default.scss";
@import "../../theme/selectedTheme.scss";

.wave{
  @include themed() {
   fill: t("wave");
  }
  transform: rotate(180deg);
}
.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.parent {
  position: relative;
}
.headerText {
  @include themed() {
    color: t("header");
  }
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 65px;
  letter-spacing: 25px;
  word-spacing: -1px;
  padding-top: 55px;
}
