@import "../../theme/default.scss";
@import "../../theme/selectedTheme.scss";

@mixin recolor($color: #000, $opacity: 1) {
  $r: red($color) / 255;
  $g: green($color) / 255;
  $b: blue($color) / 255;
  $a: $opacity;

  // grayscale fallback if SVG from data url is not supported
  $lightness: lightness($color);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

  // color filter
  $svg-filter-id: "recolor";
  filter: url('data:image/svg+xml;utf8,\
  <svg xmlns="http://www.w3.org/2000/svg">\
    <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
      <feColorMatrix type="matrix" values="\
        0 0 0 0 #{$r}\
        0 0 0 0 #{$g}\
        0 0 0 0 #{$b}\
        0 0 0 #{$a} 0\
      "/>\
    </filter>\
  </svg>\
  ##{$svg-filter-id}');
  background-color: transparent;
}

.wave {
  @include themed() {
    @include recolor(t("wave"), 1);
  }
  background-image: url("../../assets/wave.svg");
  display: block;
  background-repeat: no-repeat;
  min-height: 300px;
}
.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.parent {
  position: relative;
}
.headerText {
  @include themed() {
    color: t("header");
  }
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 65px;
  letter-spacing: 25px;
  word-spacing: -1px;
  padding-top: 55px;
}
